

<aside class="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-brand">
            @Locals["Repport"]
        </div>

    </div>

    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a asp-controller="home" asp-action="Dashboard" >
                @Locals["Dashboard"]
            </a>
        </li>
        <li class="sidebar-list-item">
            <a asp-controller="home" asp-action="Financial">
                @Locals["Repport"]
            </a>
        </li>
        <li class="sidebar-list-item">
            <a asp-controller="home" asp-action="LeaderObjective">
                @Locals["Leader"]
            </a>
        </li>
        <li class="sidebar-list-item">
            <a asp-controller="home" asp-action="Employes">
                @Locals["Sellers"]
            </a>
        </li>

        <li class="sidebar-list-item">
            <a href="#" target="_blank">
                @Locals["Cost"]
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="#" target="_blank">
                @Locals["Ventes"]
            </a>
        </li>
        <li class="sidebar-list-item">
            <a asp-controller="home" asp-action="index" >
                <i class="fa-solid fa-arrow-left"></i>
                @Locals["BackToList"]
            </a>
        </li>
    </ul>


</aside>